body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	margin:0;
	padding:0;
	background:#ccc;
}
#wrapper {
	width:800px;
	min-height:500px;
	margin:0 auto;
	background:#FFC;
	padding:50px;
}
.circle {
	width:100px;
	height:100px;
	display:block;
	color:#fff;
	background:#f00;
	text-align:center;
	line-height:100px;
	border-radius:50%;
	margin:50px auto;
}

